/* base setup and resetting */
:root {
  /* task description */
  --task-description-min-width: 15rem;

  /* task schedule */
  --task-schedule-bg-col: rgb(102, 125, 140);
  --task-schedule-border-radius: 3px;
  --task-schedule-col-width: 1rem;
  --task-schedule-height: 50%;

  /* task list */
  --task-gap: .5em; /* defines the vertical gap between two tasks */

  --timeline-row-gap: .5em;
  --timeline-font-size: .75em;
}

garganttua-gantt-chart {
  box-sizing: border-box;
}

garganttua-gantt-chart ul, garganttua-gantt-chart li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
  grid setup for tasks and schedules

  Required Properties:
    --grid-columns: defines the available grid columns a task can be assigned to
    --schedule-start: defines the column for the schedule to start
    --schedule-end: defines the column for the schedule to end
*/
garganttua-task, [is=garganttua-timeline] {
  display: grid;
  justify-items: stretch;
  grid-template-columns: minmax(var(--task-description-min-width),30rem) repeat(var(--grid-columns), var(--task-schedule-col-width));
  row-gap: var(--timeline-row-gap)
}

[is=garganttua-task-description] {
  text-align: right;
  padding-right: 1em;
}

.is-group-task [is=garganttua-task-description] {
  font-weight: bold;
}

garganttua-task-schedule {
  background-color: var(--task-schedule-bg-col);
  border-radius: var(--task-schedule-border-radius);

  grid-column-start: var(--schedule-start);
  grid-column-end: var(--schedule-end);

  height: var(--task-schedule-height);
  align-self: center;
}

[is=garganttua-task-list-item] {
  margin-bottom: var(--task-gap);
}

/*
  handling of task groups

  Required Properties:
    --group-children-visibility: initial visibility of sub tasks (all visible or all hidden)
*/
[is=garganttua-task-group] > garganttua-task + [is=garganttua-task-list] {
  margin-top: var(--task-gap);
}

[is=garganttua-task-group] [is=garganttua-task-list] {
  display: var(--group-children-display);
  visibility: var(--group-children-visibility);
}

[is=garganttua-group-toggle] {
  margin-left: 1em;
  cursor: pointer;
  border: none;
  background: transparent;
}

/*
  Gannt Timeline (generated in top of the list)
*/

[is=garganttua-timeline] {
  font-size: var(--timeline-font-size);
}

[is=garganttua-timeline] li {
  grid-column-start: var(--day-of-schedule);
  grid-column-end: span var(--label-span, 1);
  grid-row: var(--label-row, 1);
}
