/* base setup and resetting */
:root {
  /* task description */
  --task-description-min-width: 15rem;
  --task-description-max-width: 25rem;

  /* task schedule */
  --task-schedule-bg-col: rgb(102, 125, 140);
  --task-schedule-border-radius: 3px;
  --task-schedule-col-width: 1rem;
  --task-schedule-height: 2rem;

  /* task schedule content */
  --task-schedule-content-min-width: 30rem;

  /* task list */
  --task-gap: 0.5em; /* defines the vertical gap between two tasks */
  --timeline-row-gap: 0.5em;
  --timeline-font-size: 0.75em;
}

garganttua-gantt-chart {
  box-sizing: border-box;
}

garganttua-gantt-chart * {
  box-sizing: border-box;
}

garganttua-gantt-chart ul,
garganttua-gantt-chart li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
  grid setup for tasks and schedules

  Required Properties:
    --grid-columns: defines the available grid columns a task can be assigned to
    --schedule-start: defines the column for the schedule to start
    --schedule-end: defines the column for the schedule to end
*/
garganttua-task,
[is=garganttua-timeline] {
  display: grid;
  justify-items: stretch;
  grid-template-columns: minmax(var(--task-description-min-width), var(--task-description-max-width)) repeat(var(--grid-columns), var(--task-schedule-col-width));
  row-gap: var(--timeline-row-gap);
  align-items: stretch;
  margin-bottom: var(--timeline-row-gap);
}

[is=garganttua-task-description] {
  margin: 0;
  padding-top: 0.5em;
  padding-right: 1em;
  justify-self: left;
  align-self: start;
}

.is-group-task [is=garganttua-task-description] {
  font-weight: bold;
}

garganttua-task-schedule {
  background-color: var(--task-schedule-bg-col);
  border-radius: var(--task-schedule-border-radius);
  grid-column-start: var(--schedule-start);
  grid-column-end: var(--schedule-end);
  height: var(--task-schedule-height);
  align-self: start;
  grid-row: 1;
  overflow: hidden;
  transition: all 0.3s ease-in;
  min-width: 0;
}

.is-group-task garganttua-task-schedule {
  opacity: 0.5;
}

garganttua-task-schedule-content {
  display: block;
  padding: 0.5em;
  visibility: hidden;
  opacity: 0;
  min-width: var(--task-schedule-content-min-width);
  transition: all 0.5s;
}

garganttua-task-schedule.has-content:hover {
  height: 100%;
  min-width: var(--task-schedule-content-min-width);
}

garganttua-task-schedule.has-content:hover garganttua-task-schedule-content {
  visibility: visible;
  opacity: 1;
}

[is=garganttua-task-list-item][is=garganttua-task-group] {
  margin-bottom: var(--task-gap);
}

/*
  handling of task groups

  Required Properties:
    --group-children-visibility: initial visibility of sub tasks (all visible or all hidden)
*/
[is=garganttua-task-list] [is=garganttua-task-list] {
  margin-left: 1rem;
}

[is=garganttua-task-group] [is=garganttua-task-list] {
  display: var(--group-children-display);
  visibility: var(--group-children-visibility);
}

[is=garganttua-task-group] > garganttua-task + [is=garganttua-task-list] {
  margin-top: var(--task-gap);
}

[is=garganttua-group-toggle] {
  margin-left: 1em;
  cursor: pointer;
  border: none;
  background: transparent;
  text-decoration: underline;
}

[is=garganttua-group-toggle]:hover {
  font-weight: bold;
}

/*
  Gannt Timeline (generated in top of the list)
*/

[is=garganttua-timeline] {
  font-size: var(--timeline-font-size);
  padding-bottom: var(--timeline-row-gap);
  margin-bottom: var(--timeline-row-gap);
}

[is=garganttua-timeline] li {
  grid-column-start: var(--day-of-schedule);
  grid-column-end: span var(--label-span, 1);
  grid-row: var(--label-row, 1);
}

/* CSS Spinner
  src: https://projects.lukehaas.me/css-loaders/
  License: MIT - https://github.com/lukehaas/css-loaders/blob/1.0.0/LICENSE
*/

.loader,
.loader::after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid rgba(96, 96, 96, 0.6);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
